
@{
    ViewBag.Title = "Teacher Main Page-SMS";
    Layout = "~/Views/Shared/_LayoutTL.cshtml";
}
<div >
    <h2>Welcome Respected Sir On <b>SMS</b>.</h2><br>
    
    <p>
        Dear Sir,In <b>SMS </b> you can manage your whole student.Here Sir you can view your attandence record @Html.ActionLink("View your Attandence Record", "index", "TAttancedence"),you can upload the student attandence @Html.ActionLink("Upload Attandence", "StudentAttandence", "TAttancedence") ,Upoload the grade of studnet @Html.ActionLink("Upload Grade Here", "", ""),also upload the course  content , give feedback about student  @Html.ActionLink("Give Feedback to your Studnets", "", "") and see feedbacks given for you by students @Html.ActionLink("View Feedback by  Studnets for you", "", ""). In <b>SMS</b> sir you can cotact of the Parents of your Student @Html.ActionLink("Contact to Parents", "", "")  and directly contact with parents and parents Also contact from you!.
    </p>
</div>


